extends ./../components/layout-header-footer

block main
  - var hasDeleteButton = true;
  section.tickets-list
    h2.visually-hidden Самые новые предложения
    .tickets-list__wrapper
      .tickets-list__header
        a.tickets-list__btn.btn.btn--big(href='/offers/add')
          span Новая публикация
      ul
        if ticketsList
          each ticket in ticketsList
            li.tickets-list__item.js-card
              include ../components/ticket-card
